@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pink: #F14E95;
  --bg: #0A0A0A;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}